[mysqld]
max_connections = 4096
# caching_sha2_password requires us to set up a whole CA and do cert exchange,
# which is exhausting
default_authentication_plugin=mysql_native_password

[mariadb]
# Not entirely sure whether/how this comes into play given deadlock detection,
# but I can't think of a scenario where we want 50-second txn stalls
innodb_lock_wait_timeout = 1
